
*.suo
*proj.user
/IocPerformance.userprefs
/IocPerformance/bin
/IocPerformance/obj
/packages/Autofac*
/packages/Castle.Core*
/packages/Castle.Windsor*
/packages/Catel.Core*
/packages/Common.Logging*
/packages/CommonServiceLocator*
/packages/Dynamo.Ioc*
/packages/fFastInjector*
/packages/Grace*
/packages/Griffin.Container*
/packages/HaveBox*
/packages/Hiro*
/packages/IfInjector*
/packages/LightCore*
/packages/LightInject*
/packages/LinFu.Core*
/packages/MicroSliver*
/packages/MugenInjection*
/packages/Munq.IocContainer*
/packages/Ninject*
/packages/Petite.Container*
/packages/SimpleInjector*
/packages/Speedioc*
/packages/Spring.Aop*
/packages/Spring.Core*
/packages/structuremap*
/packages/StyleMVVM*
/packages/TinyIoC*
/packages/Unity*
/packages/Caliburn.Micro.Container*
/packages/Stiletto*
/packages/Fody*
*.Cache
