<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.6.0" newVersion="3.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.6.0" newVersion="0.9.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Grace" publicKeyToken="b7d24c6367970497" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.45000" newVersion="2.0.1.45000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Hiro.Containers" publicKeyToken="f0efb83db47c0105" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.29326" newVersion="1.0.2.29326" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="loggingAdvice" type="IocPerformance.Interception.SpringInterceptionLogger" singleton="false" />
      <object name="IocPerformance.Classes.Dummy.IDummyOne" type="IocPerformance.Classes.Dummy.DummyOne, IocPerformance" singleton="false" />
      <object name="IocPerformance.Classes.Dummy.IDummyTwo" type="IocPerformance.Classes.Dummy.DummyTwo, IocPerformance" singleton="false" />
      <object name="IocPerformance.Classes.Dummy.IDummyThree" type="IocPerformance.Classes.Dummy.DummyThree, IocPerformance" singleton="false" />
      <object name="IocPerformance.Classes.Dummy.IDummyFour" type="IocPerformance.Classes.Dummy.DummyFour, IocPerformance" singleton="false" />
      <object name="IocPerformance.Classes.Dummy.IDummyFive" type="IocPerformance.Classes.Dummy.DummyFive, IocPerformance" singleton="false" />
      <object name="IocPerformance.Classes.Dummy.IDummySix" type="IocPerformance.Classes.Dummy.DummySix, IocPerformance" singleton="false" />
      <object name="IocPerformance.Classes.Dummy.IDummySeven" type="IocPerformance.Classes.Dummy.DummySeven, IocPerformance" singleton="false" />
      <object name="IocPerformance.Classes.Dummy.IDummyEight" type="IocPerformance.Classes.Dummy.DummyEight, IocPerformance" singleton="false" />
      <object name="IocPerformance.Classes.Dummy.IDummyNine" type="IocPerformance.Classes.Dummy.DummyNine, IocPerformance" singleton="false" />
      <object name="IocPerformance.Classes.Dummy.IDummyTen" type="IocPerformance.Classes.Dummy.DummyTen, IocPerformance" singleton="false" />
      <object name="IocPerformance.Classes.Standard.ISingleton1" type="IocPerformance.Classes.Standard.Singleton1, IocPerformance" singleton="true" />
      <object name="IocPerformance.Classes.Standard.ISingleton2" type="IocPerformance.Classes.Standard.Singleton2, IocPerformance" singleton="true" />
      <object name="IocPerformance.Classes.Standard.ISingleton3" type="IocPerformance.Classes.Standard.Singleton3, IocPerformance" singleton="true" />
      <object name="IocPerformance.Classes.Standard.ITransient1" type="IocPerformance.Classes.Standard.Transient1, IocPerformance" singleton="false" />
      <object name="IocPerformance.Classes.Standard.ITransient2" type="IocPerformance.Classes.Standard.Transient2, IocPerformance" singleton="false" />
      <object name="IocPerformance.Classes.Standard.ITransient3" type="IocPerformance.Classes.Standard.Transient3, IocPerformance" singleton="false" />
      <object name="IocPerformance.Classes.Standard.ICombined1" type="IocPerformance.Classes.Standard.Combined1, IocPerformance" singleton="false">
        <constructor-arg ref="IocPerformance.Classes.Standard.ISingleton1" />
        <constructor-arg ref="IocPerformance.Classes.Standard.ITransient1" />
      </object>
      <object name="IocPerformance.Classes.Standard.ICombined2" type="IocPerformance.Classes.Standard.Combined2, IocPerformance" singleton="false">
        <constructor-arg ref="IocPerformance.Classes.Standard.ISingleton2" />
        <constructor-arg ref="IocPerformance.Classes.Standard.ITransient2" />
      </object>
      <object name="IocPerformance.Classes.Standard.ICombined3" type="IocPerformance.Classes.Standard.Combined3, IocPerformance" singleton="false">
        <constructor-arg ref="IocPerformance.Classes.Standard.ISingleton3" />
        <constructor-arg ref="IocPerformance.Classes.Standard.ITransient3" />
      </object>
      <object id="calculatorTarget1" type="IocPerformance.Classes.Standard.Calculator1" singleton="false">
      </object>
      <object id="calculatorTarget2" type="IocPerformance.Classes.Standard.Calculator2" singleton="false">
      </object>
      <object id="calculatorTarget3" type="IocPerformance.Classes.Standard.Calculator3" singleton="false">
      </object>
      <object id="IocPerformance.Classes.Standard.ICalculator1" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="targetName" value="calculatorTarget1">          
        </property>
        <property name="isSingleton" value="false" />
        <property name="proxyInterfaces" value="IocPerformance.Classes.Standard.ICalculator1" />
        <property name="interceptorNames">
          <list>
            <value>loggingAdvice</value>
          </list>
        </property>
      </object>
      <object id="IocPerformance.Classes.Standard.ICalculator2" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="targetName" value="calculatorTarget2">
        </property>
        <property name="isSingleton" value="false" />
        <property name="proxyInterfaces" value="IocPerformance.Classes.Standard.ICalculator2" />
        <property name="interceptorNames">
          <list>
            <value>loggingAdvice</value>
          </list>
        </property>
      </object>
      <object id="IocPerformance.Classes.Standard.ICalculator3" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="targetName" value="calculatorTarget3">
        </property>
        <property name="isSingleton" value="false" />
        <property name="proxyInterfaces" value="IocPerformance.Classes.Standard.ICalculator3" />
        <property name="interceptorNames">
          <list>
            <value>loggingAdvice</value>
          </list>
        </property>
      </object>
      <object name="IocPerformance.Classes.Complex.IFirstService" type="IocPerformance.Classes.Complex.FirstService, IocPerformance" singleton="true" />
      <object name="IocPerformance.Classes.Complex.ISecondService" type="IocPerformance.Classes.Complex.SecondService, IocPerformance" singleton="true" />
      <object name="IocPerformance.Classes.Complex.IThirdService" type="IocPerformance.Classes.Complex.ThirdService, IocPerformance" singleton="true" />
      <object name="IocPerformance.Classes.Complex.ISubObjectOne" type="IocPerformance.Classes.Complex.SubObjectOne, IocPerformance" singleton="false">
        <constructor-arg ref="IocPerformance.Classes.Complex.IFirstService" />
      </object>
      <object name="IocPerformance.Classes.Complex.ISubObjectTwo" type="IocPerformance.Classes.Complex.SubObjectTwo, IocPerformance" singleton="false">
        <constructor-arg ref="IocPerformance.Classes.Complex.ISecondService" />
      </object>
      <object name="IocPerformance.Classes.Complex.ISubObjectThree" type="IocPerformance.Classes.Complex.SubObjectThree, IocPerformance" singleton="false">
        <constructor-arg ref="IocPerformance.Classes.Complex.IThirdService" />
      </object>
      <object name="IocPerformance.Classes.Complex.IComplex1" type="IocPerformance.Classes.Complex.Complex1, IocPerformance" singleton="false">
        <constructor-arg ref="IocPerformance.Classes.Complex.IFirstService" />
        <constructor-arg ref="IocPerformance.Classes.Complex.ISecondService" />
        <constructor-arg ref="IocPerformance.Classes.Complex.IThirdService" />
        <constructor-arg ref="IocPerformance.Classes.Complex.ISubObjectOne" />
        <constructor-arg ref="IocPerformance.Classes.Complex.ISubObjectTwo" />
        <constructor-arg ref="IocPerformance.Classes.Complex.ISubObjectThree" />
      </object>
      <object name="IocPerformance.Classes.Complex.IComplex2" type="IocPerformance.Classes.Complex.Complex2, IocPerformance" singleton="false">
        <constructor-arg ref="IocPerformance.Classes.Complex.IFirstService" />
        <constructor-arg ref="IocPerformance.Classes.Complex.ISecondService" />
        <constructor-arg ref="IocPerformance.Classes.Complex.IThirdService" />
        <constructor-arg ref="IocPerformance.Classes.Complex.ISubObjectOne" />
        <constructor-arg ref="IocPerformance.Classes.Complex.ISubObjectTwo" />
        <constructor-arg ref="IocPerformance.Classes.Complex.ISubObjectThree" />
      </object>
      <object name="IocPerformance.Classes.Complex.IComplex3" type="IocPerformance.Classes.Complex.Complex3, IocPerformance" singleton="false">
        <constructor-arg ref="IocPerformance.Classes.Complex.IFirstService" />
        <constructor-arg ref="IocPerformance.Classes.Complex.ISecondService" />
        <constructor-arg ref="IocPerformance.Classes.Complex.IThirdService" />
        <constructor-arg ref="IocPerformance.Classes.Complex.ISubObjectOne" />
        <constructor-arg ref="IocPerformance.Classes.Complex.ISubObjectTwo" />
        <constructor-arg ref="IocPerformance.Classes.Complex.ISubObjectThree" />
      </object>
      <object name="IocPerformance.Classes.Properties.IServiceA" type="IocPerformance.Classes.Properties.ServiceA, IocPerformance" singleton="true" />
      <object name="IocPerformance.Classes.Properties.IServiceB" type="IocPerformance.Classes.Properties.ServiceB, IocPerformance" singleton="true" />
      <object name="IocPerformance.Classes.Properties.IServiceC" type="IocPerformance.Classes.Properties.ServiceC, IocPerformance" singleton="true" />
      <object name="IocPerformance.Classes.Properties.ISubObjectA" type="IocPerformance.Classes.Properties.SubObjectA, IocPerformance" singleton="false">
        <property name="ServiceA" ref="IocPerformance.Classes.Properties.IServiceA" />
      </object>
      <object name="IocPerformance.Classes.Properties.ISubObjectB" type="IocPerformance.Classes.Properties.SubObjectB, IocPerformance" singleton="false">
        <property name="ServiceB" ref="IocPerformance.Classes.Properties.IServiceB" />
      </object>
      <object name="IocPerformance.Classes.Properties.ISubObjectC" type="IocPerformance.Classes.Properties.SubObjectC, IocPerformance" singleton="false">
        <property name="ServiceC" ref="IocPerformance.Classes.Properties.IServiceC" />
      </object>
      <object name="IocPerformance.Classes.Properties.IComplexPropertyObject1" type="IocPerformance.Classes.Properties.ComplexPropertyObject1, IocPerformance" singleton="false">
        <property name="ServiceA" ref="IocPerformance.Classes.Properties.IServiceA" />
        <property name="ServiceB" ref="IocPerformance.Classes.Properties.IServiceB" />
        <property name="ServiceC" ref="IocPerformance.Classes.Properties.IServiceC" />
        <property name="SubObjectA" ref="IocPerformance.Classes.Properties.ISubObjectA" />
        <property name="SubObjectB" ref="IocPerformance.Classes.Properties.ISubObjectB" />
        <property name="SubObjectC" ref="IocPerformance.Classes.Properties.ISubObjectC" />
      </object>
      <object name="IocPerformance.Classes.Properties.IComplexPropertyObject2" type="IocPerformance.Classes.Properties.ComplexPropertyObject2, IocPerformance" singleton="false">
        <property name="ServiceA" ref="IocPerformance.Classes.Properties.IServiceA" />
        <property name="ServiceB" ref="IocPerformance.Classes.Properties.IServiceB" />
        <property name="ServiceC" ref="IocPerformance.Classes.Properties.IServiceC" />
        <property name="SubObjectA" ref="IocPerformance.Classes.Properties.ISubObjectA" />
        <property name="SubObjectB" ref="IocPerformance.Classes.Properties.ISubObjectB" />
        <property name="SubObjectC" ref="IocPerformance.Classes.Properties.ISubObjectC" />
      </object>
      <object name="IocPerformance.Classes.Properties.IComplexPropertyObject3" type="IocPerformance.Classes.Properties.ComplexPropertyObject3, IocPerformance" singleton="false">
        <property name="ServiceA" ref="IocPerformance.Classes.Properties.IServiceA" />
        <property name="ServiceB" ref="IocPerformance.Classes.Properties.IServiceB" />
        <property name="ServiceC" ref="IocPerformance.Classes.Properties.IServiceC" />
        <property name="SubObjectA" ref="IocPerformance.Classes.Properties.ISubObjectA" />
        <property name="SubObjectB" ref="IocPerformance.Classes.Properties.ISubObjectB" />
        <property name="SubObjectC" ref="IocPerformance.Classes.Properties.ISubObjectC" />
      </object>

    </objects>
  </spring>
  <common>
    <logging></logging>
  </common>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>
