<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.11343" newVersion="1.3.0.11343" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="loggingAdvice" type="IocPerformance.Interception.SpringInterceptionLogger" singleton="false" />
      <object name="IocPerformance.ISingleton" type="IocPerformance.Classes.Standard.Singleton, IocPerformance" singleton="true" />
      <object name="IocPerformance.ITransient" type="IocPerformance..Classes.Standard.Transient, IocPerformance" singleton="false" />
      <object name="IocPerformance.ICombined" type="IocPerformance.Classes.Standard.Combined, IocPerformance" singleton="false">
        <constructor-arg ref="IocPerformance.ISingleton" />
        <constructor-arg ref="IocPerformance.ITransient" />
      </object>
      <object id="IocPerformance.ICalculator" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="target">
          <object id="calculator" type="IocPerformance.Calculator" />
        </property>
        <property name="interceptorNames">
          <list>
            <value>loggingAdvice</value>
          </list>
        </property>
      </object>
    </objects>
  </spring>
  <common>
    <logging></logging>
  </common>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>